[Unit]
Description="k0s server"
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/k0s
ExecStart=/usr/bin/k0s server $CONTROLLER_TOKEN
Restart=always