# ALL environment variables needed for the Kubernetes cluster operator by Kops

export AWS_SDK_LOAD_CONFIG=1
export AWS_REGION=ap-southeast-1
export KOPS_STATE_STORE=s3://<S3_KOPS_STATE>
export KOPS_CLUSTER_NAME=sandbox.project.ardikabs.k8s.local
export KOPS_FEATURE_FLAGS=EnableNodeAuthorization,EnableLaunchTemplates
