[Unit]
Description=Kubernetes health monitoring for %i
After=docker.service kubelet.service

[Service]
Restart=always
RestartSec=10
RemainAfterExit=yes
ExecStartPre=/bin/chmod 544 /usr/local/bin/health-monitor.sh
ExecStart=/bin/bash /usr/local/bin/health-monitor.sh %i

[Install]
WantedBy=multi-user.target